@using FinalProjectBusinessLayer.Entitys
@model Member
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">All Project Managers</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Project Managers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        @{
                            foreach (var item in (List<ProjectManager>)ViewBag.allMembers)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
        </div>
        </div>
