    <div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   asp-controller="Member" asp-action="AllMembers" aria-expanded="false">
                    <h1 class="font-light text-white"><i class="mdi mdi-account-multiple"></i></h1>
                    <h6 class="text-white">All Members</h6>
                </a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   asp-controller="ProjectManager" asp-action="AllProjectManagers" aria-expanded="false">
                    <h1 class="font-light text-white"><i class="mdi mdi-account-settings"></i></h1>
                    <h6 class="text-white">Project Managers</h6>
                </a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   asp-controller="TeamLeader" asp-action="AllTeamLeaders" aria-expanded="false">
                    <h1 class="font-light text-white"><i class="mdi mdi-account-network"></i></h1>
                    <h6 class="text-white">Team Leaders</h6>
                </a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   asp-controller="TeamMember" asp-action="AllTeamMembers" aria-expanded="false">
                    <h1 class="font-light text-white"><i class="mdi mdi-account"></i></h1>
                    <h6 class="text-white">Team Members</h6>
                </a>
            </div>
        </div>
    </div>

</div>
