@using FinalProjectBusinessLayer.Entitys
@model Member
@*View all sprints*@

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">All Sprints</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">All Projects</li>
                        <li class="breadcrumb-item"><a href="#">All Sprints</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <a class="btn btn-outline-dark" href="/TeamLeader/AddSprint?projectID=@ViewBag.projectID">New Sprint</a>

            <div class="card">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>


                        @{
                            foreach (var item in (List<Sprint>)ViewBag.allSprints)
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Start</td>


                                    <td>@item.End</td>

                                    <td>
                                        <a class="btn btn-outline-primary" href="/TeamLeader/ViewDuties?SprintID=@item.SprintID">Duty</a>
                                        <a class="btn btn-outline-success" href="/TeamLeader/EditSprint?Id=@item.SprintID&&projectID=@item.ProjectID">Edit</a>
                                        <a class="btn btn-danger" href="/TeamLeader/DeleteSprint?ID=@item.SprintID&&projectId=@item.ProjectID">Delete</a>
                                    </td>

                                </tr>

                            }
                        }
                    </tbody>
                </table>
</div>
</div>
</div>
</div>