@using FinalProjectBusinessLayer.Entitys
@model Member
@*View all projects*@
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">All Projects</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Projects</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (List<ProjectMembers>)ViewBag.allProjects)
                            {
                                <tr>
                                    <td>@item.Project.ProjectName</td>
                                    <td>@item.Project.ProjectDescription</td>
                                    <td>@item.Project.Deadline</td>
                                    <td>
                                        <a class="btn btn-outline-success" href="/TeamLeader/ViewSprints?projectID=@item.ProjectID">Sprint</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
</div>
</div>
</div>
</div>